@import "src/vendor/reset.css";
@import "src/text.css";
@import "src/figure.css";
@import "src/form.css";
@import "src/button.css";
@import "src/structure.css";
@import "src/tooltip.css";

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--global-page-background-color);
    font-family: 'Roboto', sans-serif;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --global-page-background-color: #36393e;
        --global-font-color: #a7a7a7;
        --global-font-family: "Times New Roman", Times, serif;
        --global-form-background-color: #ecf0f1;
        --global-form-background-color-active: #dce0e1;
        --global-form-background-color-valid: #ecf0f1;
        --global-form-font-color: #7f8c8d;
        --global-form-shadow-color: 0 3px 0 #7f8c8d;
        --global-form-shadow-color-active: 0 1px 0 #7f8c8d;
        --global-text-code-background-color: rgba(40, 43, 48, 1);
        --image-width: 20rem;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --global-page-background-color: #ffffff;
        --global-font-color: #374252;
        --global-font-family: "Times New Roman", Times, serif;
        --global-form-background-color: #ecf0f1;
        --global-form-background-color-active: #dce0e1;
        --global-form-background-color-valid: #2ecc71a6;
        --global-form-font-color: #7f8c8d;
        --global-form-shadow-color: 0 3px 0 #7f8c8d;
        --global-form-shadow-color-active: 0 1px 0 #7f8c8d;
        --global-text-code-background-color: rgba(0, 0, 0, 0.1);
        --image-width: 20rem;
    }
}
