p {
    /**
     * @todo Change paragraph font to Sherif -> times new roman
     */
    color: var(--global-font-color);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.02rem;
    text-indent: 1.5rem;
    text-align: justify;
}
