select {
    background-color: var(--global-form-background-color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--global-form-shadow-color);
    color: var(--global-font-color);
    font-size: 1.2rem;
    margin-top: 0.5rem;
    outline: none;
    width: 100%;
    height: 46px;
}

select:hover {
    cursor: pointer;
}

select:focus {
    box-shadow: var(--global-form-shadow-color-active);
    transform: translateY(2px);
}

select:required:valid {
    background-color: #2ecc71a6;
    box-shadow: var(--global-form-shadow-color-active);
    transform: translateY(2px);
}
