temple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

column > article > header {
    text-align: center;
}

column > article > figure {
    text-align: center;
}

column > article > figure > img {
    width: 240px;
}

@media only screen and (min-width: 960px) {
    column {
        width: 455px;
    }
}
