article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem auto;
}

article > column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1rem;
    width: 22rem;
}

article > column > header {
    margin: .5rem 0;
    text-align: center;
}

article > column > p {
    text-align: justify-all;
}

article > column > figure {
    padding: 1rem;
    text-align: center;
}

article > column > figure > img {
    max-width: 15rem;
}

article > form {
    margin: 0 1rem;
    width: 22rem;
}
