button {
    background-color: var(--global-form-background-color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--global-form-shadow-color);
    color: var(--global-form-font-color);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem .5rem 0 .5rem;
    outline: none;
    padding: .7rem;
}

button:hover {
    background-color: #e9eced;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: .75;
}

button:active {
    background-color: var(--global-form-background-color);
    box-shadow: var(--global-form-shadow-color-active);
    transform: translateY(2px);
}
