trigger {
    background-color: var(--global-form-background-color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--global-form-shadow-color);
    color: var(--global-form-font-color);
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

dropdown {
    position: relative;
    display: inline-block;
}

dropdown > ul {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

dropdown > ul > a {
    border-radius: 5px;
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

dropdown > ul > a:hover {
    background-color: #f1f1f1;
}

dropdown:hover > ul {
    display: block;
}

dropdown:hover trigger {
    background-color: var(--global-form-background-color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--global-form-shadow-color);
    color: var(--global-form-font-color);
}
