@import "form/input/text.css";
@import "form/input/honeypot.css";
@import "form/input/number.css";
@import "form/input/email.css";
@import "form/input/select.css";
@import "form/input/password.css";
@import "form/input/checkbox.css";
@import "form/input/textarea.css";
@import "form/input/submit.css";
@import "form/label.css";

form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
}
