@import 'src/vendor/reset.css';
@import 'src/text.css';
@import 'src/figure.css';
@import 'src/form.css';
@import 'src/button.css';
@import 'src/structure.css';

:root {
    --global-font-color: #374252;
    --global-form-background-color: #ecf0f1;
    --global-form-background-color-active: #dce0e1;
    --global-form-font-color: #7f8c8d;
    --global-form-shadow-color: 0 3px 0 #7f8c8d;
    --global-form-shadow-color-active: 0 1px 0 #7f8c8d;
    --image-width: 20rem;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 970px;
    padding: 0 15px;
}
