@import 'text/header.css';
@import 'text/icon.css';
@import 'text/link.css';
@import 'text/paragraph.css';
@import 'text/figcaption.css';

code {
    color: var(--global-font-color);
    padding: 0.25rem 0.4rem;
    background-color: var(--global-text-code-background-color);
    border-radius: 4px;
}
